li[class^="p"] {
  color: rgba(4, 106, 4, 0.913);
}

li[id="cat"] {
  color: teal;
}

li[class*="do"] {
  color: royalblue;
}

li[class$="og"] {
  color: rgb(143, 14, 143);
}

section li {
  color: green;
}
.eggs.flour {
  color: violet;
}
