nav .list-item > a {
  color: aquamarine;
} /*0-1-2*/

#main::first-letter {
  color: blueviolet;
} /*1-0-1*/

input[type] {
  color: brown;
} /*0-1-1*/

section .main::first-line {
  color: tomato;
} /*0-1-2*/

nav ul.menu li#first a:not([class="visited"]) {
  color: pink;
} /*1-2-4*/

/*bad specificity*/
div ol li ul li ol li ul li a {
  color: orange;
} /*0-0-10*/
